*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}

body{
    background-color: #FFC567 ;
    font-family: 'Courier New', Courier, monospace;
    margin: 1em;
    text-align: justify;
    padding: 1rem;
}

/* rules for the heading */
header{
    text-align: center;
    color: black;
    background-color: #FB5A46;
    border: 3px solid black;
    border-radius: 5px;
    box-shadow: -5px 5px;
    transition: 0.5s;
    margin: 1rem;
}

a{
    text-decoration: none;
    color: black;
}

#title:hover{
    background-color: #f9442c;
}

/*  rules for the main in home page*/

.recipes{
    position: relative;
    /* width: 300px; */
    height: auto;
    margin: 1rem ;
    padding: 1rem;

    font-weight: 700;
    text-align: justify;
    background-color: #00995E;
    border: 3px solid black;
    border-radius: 5px;
    box-shadow: -5px 5px;

}

.recipes h2{
    text-align: center;
}
 

.recipes a{
    transition: 0.5s;
}
.recipes a:hover{
    font-size: 18px ;
}



/* rules for recipes pages*/
img{
    display: block;
    float:inline-end;  
    width: 300px;
    max-width: 100%;
    height: auto; 
    border: 2px double black;
    box-shadow: -4px 4px;
    padding: 5px; 
    margin: 10px; 
}
.rname{
    text-align: center;
    background-color: #058CD7;
    box-shadow: 0px 5px;
}

.rmain{
    margin: 1rem;
    padding: 0;
    background-color: #FB7DA8;
    border: 3px solid black;
    border-radius: 5px;
    box-shadow: -5px 5px;
    font-weight: 600;
    line-height: 1.5;
}
.rmain.desc{
    padding: 1rem;
    border:none;
    box-shadow: none;
}

.recipes li, .rmain ol, li{
    margin: 1rem;
}