*{
    font-family: 'Courier New', Courier, monospace;
    margin: 0px;
    padding: 0px;
}

#title{
    text-align: center;
    color: black;
    background-color: #FB5A46;
    border: 3px solid black;
    border-radius: 5px;
    box-shadow: 5px 5px;
    transition: 0.5s;
}

#title a{
    text-decoration: none;
    color: black;
}

#title:hover{
    color: black;
    background-color: #f54028;
    border: 3px solid black;
}

body{
    background-color: #FFC567 ;
    text-align: justify;
    padding: 2rem;
}

.recipes{
    position: relative;
    width: 300px;
    margin-top: 3rem;
    padding: 0.5rem;
    font-weight: 700;
    text-align: justify;
    background-color: #00995E;
    border: 3px solid black;
    border-radius: 5px;
    box-shadow: 5px 5px;

}
.recipes h2{
    margin: 0.5rem;
}
.recipes a{
    color: black;
    transition: 0.5s;
}
.recipes a:hover{
    font-size: 18px ;
}

li{
    margin: 1rem;
}
